<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts-more.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script>
        $(function () {
            $('#container1').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '手机品牌数量前十分布'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '数量',
                    data: [
                        ['中兴', 280],
                        ['华为', 247],
                        ['联想', 232],
                        ['三星', 218],
                        ['酷派', 186],
                        ['小米', 129],
                        ['索尼', 118],
                        ['海尔', 94],
                        ['纽曼', 91],
                        ['苹果', 82],
                        ['其他', 1516],
                    ]
                }]
            });
        });

        $(function () {
            $('#container2').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '不同操作系统的价格分布'
                },
                xAxis: {
                    categories: ['0-499', '500-999', '1000-1699', '1700-2799', '2800-4499', '4500-11999', '12000以上'],
                    title: {
                        text: '价格（元）'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '数量'
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -70,
                    verticalAlign: 'top',
                    y: 20,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.x +'</b><br/>'+
                            this.series.name +': '+ this.y +'<br/>'+
                            'Total: '+ this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                        }
                    }
                },
                series: [{
                    name: '其他',
                    data: [686, 37, 16, 16, 18, 45, 11]
                }, {
                    name: 'Android',
                    data: [343, 466, 239, 283, 230, 97, 39]
                }, {
                    name: 'WindowsPhone',
                    data: [1, 3, 2, 92, 5, 1, 0]
                }, {
                    name: 'IOS',
                    data: [0, 0, 1, 3, 84, 25, 0]
                }]
            });
        });
        $(function () {
            $('#container3').highcharts({
                title: {
                    text: '上市时间分布',
                    x: -20 //center
                },
                xAxis: {
                    categories: ['2016', '2015', '2014', '2013', '2012', '2011','2010', '2009', '2008及以前'],
                    title: {
                        text: '年份'
                    }
                },
                yAxis: {
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }],
                    title: {
                        text: '数量'
                    }
                },
                tooltip: {},
                series: [{
                    name: '总量',
                    data: [310, 1940, 653, 126, 25, 5, 3, 8, 29]
                }]
            });
        });
        $(function () {

            $('#container4').highcharts({

                chart: {
                    type: 'columnrange',
                    inverted: true
                },

                title: {
                    text: '各品牌手机价格区间'
                },
                xAxis: {
                    categories: ['中兴', '华为', '联想',  '三星', '酷派', '小米', '索尼','海尔', '纽曼', '苹果'],
                    title: {
                        text: '品牌'
                    }
                },

                yAxis: {
                    title: {
                        text: '价格 ( 元 )'
                    },
                    min: 0,
                    max: 10000
                },

                tooltip: {
                    valueSuffix: '元'
                },

                plotOptions: {
                    columnrange: {
                        dataLabels: {
                            enabled: true,
                            formatter: function () {
                                return this.y + '元';
                            }
                        }
                    }
                },

                legend: {
                    enabled: false
                },

                series: [{
                    name: 'Temperatures',
                    data: [
                        [99, 2999],
                        [499, 4628],
                        [79, 3029],
                        [128, 23888],
                        [188, 2499],
                        [579, 2998],
                        [1450, 5888],
                        [99, 1188],
                        [63, 799],
                        [1388, 7288]
                    ]
                }]

            });

        });
        $(function () {
            $('#container5').highcharts({
                chart: {
                    type: 'scatter',
                    zoomType: 'x',
                    panning: true,
                    panKey: 'shift'
                },
                title: {
                    text: '智能机与非智能机关于价格和上市年份的分布'
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: '价格（元）'
                    },
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true,
                    min: 0,
                    max: 8000
                },
                yAxis: {
                    title: {
                        text: '年份'
                    },
                    min: 2008,
                    max: 2016
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    backgroundColor: '#FFFFFF',
                    borderWidth: 1
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '{point.x} 元, {point.y} 年'
                        }
                    }
                },
                series: [{
                    name: '智能机',
                    color: 'rgba(223, 83, 83, .5)',
                    data: {{smart}}
                }, {
                    name: '非智能机',
                    color: 'rgba(119, 152, 191, .5)',
                    data: {{nsmart}}
                }]
            });
        });
    </script>
</head>
<body>
<br><br><br><br>
<h1 align="center">商品比较分析系统</h1><br><br>
<form method="get" action="/search/">
    <div align="center"><input type="text" id="search" name="search" style="height:30px;width:350px" autofocus="autofocus">
        <input type="submit" value="搜索" style="height:37px;width:80px"></div>
</form>

<div id="container1" style="max-width: 1000px; margin: 0 auto"></div>
<div id="container3" style="max-width: 1000px; margin: 0 auto"></div>
<div id="container2" style="max-width: 1000px; margin: 0 auto"></div>
<div id="container4" style="max-width: 1000px; margin: 0 auto"></div>
<div id="container5" style="max-width: 1000px; margin: 0 auto"></div>
</body>
</html>